
<meta name="keywords" content=""/>
<meta name="description"
      content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>

<meta name="viewport" content="width=device-width"/>

<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"/>

<!--<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/SouKetobar.css"/>-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/basev1.css?v=20170111"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/common_1.css?v=20170111"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/header-footer.css"/>

<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/courselist_1.css?v=20170111"/>


<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/css/layui/layui.js"></script>





