<!DOCTYPE html>
<html>

<head>
    <title>{$detailList['title']}-{$area[0]['city_name']}-{$area[1]['city_name']}-{$currentCity}房丫丫官网</title>
    <meta name="keywords" content="{$currentCity}出租房租房,{$currentCity[1]}出租房租房网,{$currentCity}出租房租房信息"/>
    <meta name="description" content="{$currentCity}出租房租房网为您提供最新租房信息，欢迎您来到房丫丫{$currentCity}出租房租房网。"
    />
    <link href="__PUBLIC__/img/logo/title.png" type="image/x-icon" rel="icon">

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/zufang-detail_v20161216171752.css" media="all"/>


    <include file="Public:pub_css"/>
    <!--<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/CompontsLoader_v20170117143121.css" media="all"/>-->


    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/slidepic/css/style.css">-->


    <!--<script type="text/javascript" src="__PUBLIC__/js/slidepic/lib/highlight.pack.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/js/slidepic/dist/jquery.terseBanner.min.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/js/slidepic/lib/script.js"></script>-->


    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fyy.css">


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"/>

    <script type="text/javascript" src="__PUBLIC__/css/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form', 'element'], function () {
            var layer = layui.layer
                , form = layui.form()
                , element = layui.element()

        });
    </script>
</head>
<body>
<include file="Public:pub_top"/>


<!--头部-->
<div class="header-wrap">


    <!--<div class="nav-top-bar fl c_888 f12">-->
    <!--<a href="" target="_blank"> </a>-->
    <!--<a-->
    <!--href=""-->
    <!--target="_blank">北京租房</a>-->
    <!--&gt; <a-->
    <!--href=""-->
    <!--target="_blank">朝阳租房</a>-->
    <!--&gt; <a-->
    <!--href=""-->
    <!--target="_blank">三元桥租房</a>-->
    <!--</div>-->


</div>
<!--房源信息-->
<div class="main-wrap">
    <!--房源题目-->
    <div class="house-title">
        <h1 class="c_333 f20">{$detailList['title']}</h1>

        <p class="house-update-info c_888 f12">
            <!--房源编号：BJCY84756310&nbsp;&nbsp;&nbsp;&nbsp;-->
            {$detailList['create_time']}发布&nbsp;&nbsp;&nbsp;&nbsp;
            <em
                    id="totalcount">{$detailList['scancount']}</em> 次浏览
        </p>


    </div>
    <!--房源基本信息-->
    <div class="house-basic-info">
        <div class="house-basic-pic fl">
            <style>
                .banner {
                    width: 480px;
                    height: 432px;
                }
            </style>
            <div class="banner">
                <ul>
                    <if condition="count($picList) gt 0">
                        <foreach name="picList" item="pic">
                            <li>
                                <img  style="float:left;" src="{:C('SITE')}{$pic['pic_large']}">
                            </li>


                        </foreach>
                        <else/>
                        <img src="/Public/img/bjpic1.jpg" style="margin-bottom: 10px;">


                    </if>


                </ul>
            </div>

            <script type="text/javascript" src="__PUBLIC__/js/slidepic/dist/jquery.terseBanner.min.js"></script>

            <script>
                $('.banner').terseBanner();
            </script>

        </div>
        <div class="house-basic-right fr">
            <div class="house-basic-desc">
                <div class="house-desc-item fl c_333">
                    <div class="house-pay-way f16"><span class="c_ff552e"><b
                            class="f36">{$detailList['rent_money']}</b> 元/月</span>&nbsp;&nbsp;&nbsp;&nbsp;<span
                            class="c_333"></span></div>
                    <ul class="f14">
                        <li><span
                                class="c_888 mr_15">租赁方式：</span><span>{$detailList['chuzu']}</span>
                        </li>
                        <li><span class="c_888 mr_15">房屋类型：</span><span>{$detailList['shi']}室{$detailList['ting']}厅{$detailList[wei]}卫                                &nbsp;&nbsp;{$detailList['square']}                                平&nbsp;&nbsp;{$detailList['zhuangxiu']} </span>
                        </li>
                        <li><span class="c_888 mr_15">朝向楼层：</span><span>{$detailList['fangxiang']}&nbsp;&nbsp;{$detailList['floor']}层/共{$detailList['total_floor']}层</span>
                        </li>
                        <li><span class="c_888 mr_15">所在小区：</span><span><if condition="$detailList['street'] neq ''">
                            {$detailList['street']}<else/>暂无描述
                        </if></span>
                        </li>
                        <li><span class="c_888 mr_15">所属区域：</span><span>
                                                                    <span class="dz">{$area[0]['city_name']} </span>&nbsp;&nbsp<span
                                class="dz">{$area[1]['city_name']} </span>
                                                            </span>
                        </li>
                        <li>
                            <span class="c_888 mr_15">详细地址：</span><span class="dz" style="display:inline;">{$detailList['address']} </span>

                        </li>
                        <li><span class="c_888 mr_15">房屋配套：</span>
                            <span style="margin-left: -4px;" class="c_333 pz">{$fur1}</span>
                        </li>
                    </ul>
                </div>

                <div class="house-agent-info fr" id="bigCustomer">
                    <div class="agent-head-portrait pr">
                        <a href=""
                           target="_blank"><img src="/Public/img/user1.png">
                            <i class="icon2"></i>
                        </a>

                    </div>

                    <p class="agent-name f16 pr"><span
                            class="c_000">{$detailList['contact']}&nbsp;({$detailList['gender']})</span>
                    </p>
                    <p class="agent-store f12">
                        <!--<a class="ah" href="" target="_blank">他的帖子</a>&nbsp;&nbsp;-->
                        <!--<a class="ah" href="" target="_blank">他的信用记录</a>-->
                    </p>


                    <div class="agent-chat">
                        <a id="" class="bangbang-chat icon" href="javascript:;"></a>
                        <a id="wxChatBtn" class="wx-chat icon" href="javascript:;"
                           onclick="clickLog('from=fcpc_detail_bj_weixin')"></a>
                        <a id="qqChatBtn" class="qq-chat icon" href="javascript:;" target="_blank"
                           onclick="clickLog('from=fcpc_detail_bj_QQ')"></a>

                    </div>

                    <div id="agent-company-banner"
                         data-companyid="n_v1bl2lwxqzjxyvl7uo6zsa"
                         class="f12 c_555 lh18"
                         onclick="">
                    </div>
                </div>
                <!--end-->
            </div>

            <div class="house-fraud-tip">


                <span class="house-chat-phone pr">
                <em class="phone-logo pa"><i class="icon"></i></em>
                <em class=" f36  lh75">{$detailList['phone']}</em></span>


                <span class="frand-remarks pr f12">签约前切勿付
                      <i class="c_ff552e">订金、押金、 <br/>租金</i>等一切费用！务必
                      <i class="c_ff552e">实地<br/> 看房</i>，查验房东和房屋证件！
                    <!--<em id="report" class="frand-logo pa f12 c_ff552e"><i class="icon"></i>举报</em>-->

                  </span>


            </div>
        </div>
        <br class="clear"/>
    </div>
    <!--房源描述-->
    <div class="house-detail-desc">
        <!--主要描述-->
        <div class="main-detail-info fl">
            <ul class="nav-detail-bar f18">

                <li class="on">
                    <a>房源详情</a>
                </li>

            </ul>

            <!--房屋配置-->
            <if condition="count($fur2) gt 0">
                <ul class="house-disposal">
                    <!--<li class="bed"><i class="icon"></i>床</li>-->
                    <!--<li class="chest"><i class="icon"></i>衣柜</li>-->
                    <!--<li class="sofa"><i class="icon"></i>沙发</li>-->
                    <!--<li class="telev"><i class="icon"></i>电视</li>-->
                    <!--<li class="icebox"><i class="icon"></i>冰箱</li>-->
                    <!--<li class="washer"><i class="icon"></i>洗衣机</li>-->
                    <!--<li class="air-condition"><i class="icon"></i>空调</li>-->
                    <!--<li class="water-heater"><i class="icon"></i>热水器</li>-->
                    <!--<li class="broadband"><i class="icon"></i>宽带</li>-->
                    <!--<li class="central-heater"><i class="icon"></i>暖气</li>-->
                    <!--<li class="fuel-gas"><i class="icon"></i>可做饭</li>-->
                    <!--<li class="balcony"><i class="icon"></i>阳台</li>-->
                    <!--<li class="toilet"><i class="icon"></i>独立卫生间</li>-->
                    <foreach name="fur2" item="f">
                        <li class="{$f['name']}"><i class="icon"></i>{$f['val']}</li>
                    </foreach>
                </ul>
            </if>

            <div class="house-word-introduce f16 c_555">

                {$detailList['discribe']}
            </div>
            <!--房屋图集-->
            <ul class="house-pic-list ">
                <if condition="count($picList) gt 0">
                    <foreach name="picList" item="pic">
                        <li>
                            <img style="margin-bottom: 10px;" src="{:C('SITE')}{$pic['pic_large']}">

                        </li>

                    </foreach>

                    <else/>
                    <img src="/Public/img/bjpic1.jpg" style="margin-bottom: 10px;">


                </if>


            </ul>


        </div>


        <!--<div class="side-right-info fr">-->
        <!--<div id="agentOtherHouse" class="agent-other-house"><p class="agent-house-nav f18 c_333"></p>-->
        <!--<ul class="agent-otherhouse-list">-->

        <!--<li></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div id="superApartment" class="premium-brand-apartment"></div>-->
        <!--&lt;!&ndash;右侧精选广告&ndash;&gt;-->
        <!--<div id="jx_right_ad" class="jx_right_ad"><p class="jx_title_nav f18 c_333"></p>-->

        <!--</div>-->
        <!--&lt;!&ndash;右侧其他广告位&ndash;&gt;-->
        <!--<div class="s_ad">-->


        <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">-->
<!--<legend>用户评论</legend>-->
<!--</fieldset>-->
<!--<fieldset class="layui-elem-field">-->
<!--<legend>150***126</legend>-->
<!--<div class="layui-field-box">-->
<!--你可以在这里放任何内容，比-->
<!--</div>-->
<!--</fieldset>-->


<!--底部footer-->
<div id="footer" class="footer"></div>

<script>
    $(function () {
        var time = new Date();
        var currentTime = time.getTime();
        if (localStorage.time == null || localStorage.time == undefined) {
            localStorage.time = currentTime;

        }
        var timeDiff = currentTime - localStorage.time;
        var timeLength = 1000 * 60 * 30;    //超过一小时提醒一次
//        console.log('当前时间'+currentTime);
//        console.log('之前时间'+localStorage.time);
//        console.log('时间差'+timeDiff+'比较值'+timeLength);
        if (timeDiff > timeLength) {
//

            layer.open({
                type: 1
                ,
                title: false //不显示标题栏
                ,
                closeBtn: true
                ,
                area: '300px;'
                ,
                shade: 0.7
                ,
                btn: ['我知道了']
                ,
                moveType: 1 //拖拽模式，0或者1
                ,
                content: '<div style="padding: 50px; line-height: 22px; background-color: #05A89A; color: #fff; font-weight: 300;">温馨提醒：<br><br>务必请您在实地看房签约前不要支付任何费用！<br><br>如是房东直租，请核对其房产证明，若不能出示证明，或以其他理由推辞，请提高警惕。<br><br>如是代理人或个人转租，请仔细查看房屋租赁合同，确保房屋来自正规中介公司。</div>'
                ,
                success: function (layero) {
                    var btn = layero.find('.layui-layer-btn');
                    btn.css('text-align', 'center');

                }
            });


            localStorage.time = currentTime;
        }


    })


</script>

<include file="Public:pub_foot"/>

</body>
</html>
