<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$currentCity[1]}房丫丫-用户注册</title>
    <meta name="keywords" content="{$currentCity[1]}出租房租房,{$currentCity[1]}出租房租房网,{$currentCity[1]}出租房租房信息"/>
    <meta name="description" content="{$currentCity[1]}出租房租房网为您提供最新租房信息，欢迎您来到房丫丫{$currentCity[1]}出租房租房网。"
    />
    <link href="__PUBLIC__/img/logo/title.png" type="image/x-icon" rel="icon">


    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fyy.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/css/layui/layui.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/registerCheck.js"></script>


</head>
<script>




</script>
<body>
<div class="topdiv">
    <!-- 顶部导航部分 -->
    <div id="head">
        <div class="wrap clearfix">
            <div class="head_left fl">
                <!--<span>房丫丫</span>-->
                <a href="{:U('home/index/index')}">返回首页</a>
                <!-- 切换城市部分 -->
                <!--<div class="m-selectcity">-->
                <!--<div class="m-city" id="selectcity">-->
                <!--<i></i>-->
                <!--<span id="cityName">[切换城市]</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; 切换城市隐藏部分 &ndash;&gt;-->
                <!--<div class="area_school" id="selectcity_pop">-->
                <!--<p class="m-hotcity"><strong>推荐城市：</strong><a class="cityChange"-->
                <!--href="/home/index/index/cityId/1">北京</a>-->
                <!--</p>-->
                <!--<ul>-->
                <!--<foreach name="cityList" item="cityName" key="k">-->
                <!--<li>-->

                <!--<span>{$k}</span>-->

                <!--<em>-->
                <!--<foreach name="cityName" item="city">-->
                <!--<a cid="$city['id']" class="cityChange"-->
                <!--href="__CONTROLLER__/index/cityId/{$city['id']}">{$city['city_name']}</a>-->
                <!--</foreach>-->

                <!--</em>-->


                <!--</li>-->

                <!--</foreach>-->


                <!--</ul>-->
                <!--</div>-->
                <!--&lt;!&ndash; 切换城市隐藏部分 end &ndash;&gt;-->
                <!--</div>-->
                <!-- 切换城市部分 end -->
            </div>
            <!-- header右侧部分 -->
            <ul class="head_r fr clearfix">
                <li class="login"><a href="/home/login/login">请登录</a>|<a href="/home/login/register">免费注册</a></li>
                <li class="bangz">
                    <a href="#">{$user}</a><em></em>
                    <span class="d_line"></span>
                    <span class="blank"></span>
                    <div class="list">
                        <div><a href="{:U('/home/user/index')}">我的发布</a></div>
                        <div><a href="{:U('/home/login/loginOut')}">退出账号</a></div>
                        <div><a href="/help-7.html"></a></div>
                        <div><a href="#"></a></div>
                    </div>
                </li>
                <!--<li><b>客服热线：400-767-6666</b></li>-->
            </ul>
        </div>
    </div>
    <!-- 顶部导航部分 end -->

</div>

<script type="text/javascript">

$(document).ready(function () {

        $(function () {
            $(".m-selectcity").hover(function () {
                $(".area_school").show();
            }, function () {
                $(".area_school").hide();
            });
        });

        $(function () {
            $(".bangz").hover(function () {
                $(".head_r .bangz .blank").show();
                $(".head_r .bangz .d_line").show();
                $(".head_r .bangz .list").show();
                $(".bangz em").addClass('arrow');
            }, function () {
                $(".head_r .bangz .blank").hide();
                $(".head_r .bangz .d_line").hide();
                $(".head_r .bangz .list").hide();
                $(".bangz em").removeClass('arrow');
            });
        });

        $(function () {
            $('.input_txt').focus(function () {
                if ($(this).val() == '请输入…') {
                    $(this).val('');
                }
            }).blur(function () {
                if ($(this).val().trim() == '') {
                    $(this).val('请输入…');
                }
            });
        });

        $(function () {
            var H = $(".topdiv").height();
            $(window).scroll(function (event) {
                var num = $(document).scrollTop();
                if (num >= H) {
                    $("#head_logo").css({
                        "position": "fixed",
                        "top": 0,
                        "width": "100%",
                        "background-color": "#05a89a"
                    });
                    $("#head_logo .fbBtn").css({"background-color": "#fff", "color": "#05a89a"});
                    $("#head_logo .input_btn").css({"border": "1px solid #fff"});
                } else {
                    $("#head_logo").css({"position": "static", "background-color": "#fff"});
                    $("#head_logo .fbBtn").css({"background-color": "#05a89a", "color": "#fff"});
                    $("#head_logo .input_btn").css({"border": "0"});
                }
            });
        });

    });
</script>
<div style="width:550px;height: 200px;margin:50px auto;background-color: white;">


    <form class="layui-form layui-form-pane"
          style="padding:100px;margin: 10% auto;width:442px;"
          action="" method="" onsubmit="return false">

        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" id="phone" style="width:220px;"
                       placeholder="请输入手机号"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">动态码</label>
            <div class="layui-input-inline">
                <input name="phoneCode" id="phoneCode" type="text" style="width:220px;" placeholder="请输入动态码"
                       autocomplete="off"
                       class="layui-input">
            </div>
            <a style=" margin-left: 31px;float: right;position: absolute;border: 0px solid #e6e6e6;margin:1px auto 1px -87px;height: 36px;"
               href="javascript:"
               class="layui-btn layui-btn-disabled" id="p">获取动态码</a>
            <!--layui-btn layui-btn-primary-->
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input name="pwd" type="password" id="pwd" placeholder="请输入密码" autocomplete="off"
                       class="layui-input"
                       style="width:220px;">
            </div>
            <!--<div class="layui-form-mid layui-word-aux">请务必填写用户名</div>-->
        </div>


        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">验证码</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input name="vertiCode" type="text" id="vertiCode" style="width:220px;" placeholder="请输入验证码"-->
                       <!--autocomplete="off" class="layui-input">-->
            <!--</div>-->
            <!--<img title="点击更换" id="vertify"-->
                 <!--style="width: 116px;height: 35px;margin-left: 213px;margin-top: 2px;position: absolute;cursor: pointer;"-->
                 <!--src="{:U('login/getVertify')}"/>-->
        <!--</div>-->


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="btnRegister" style="width:332px;margin-left: -110px;">注册
                </button>

            </div>
        </div>
        <div class="layui-form-item">
            已有账号，<a href="{:U('/home/login/login')}" style="color:#1AA094;">直接登录</a>
        </div>
    </form>

</div>





<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?aa0a68ac2cc94e342ba2fb2a5fac6264";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>



</body>
</html>